// Define variables for your color scheme

// For example:
$blue: #9AC4F8;
$green: #99EDCC;
$dusty-pink: #CB958E;
$pink: #E36588;
$red: #9A275A;
$light-gray: #F7FFF6;
// Given ones:
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;

