.cocktail-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(231, 231, 231, 0.5);
  border-radius: 30px;
  width: 550px;
  h1 {
    margin-top: 20px;
  }
  margin-bottom: 30px;
}
.cocktail-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: rgba(231, 231, 231, 0.5);
  border-radius: 30px;
  width: 300px;
  p {
    margin-bottom: 0px;
  }
  .delete-dose a {
    color: $red;
    margin-left: 10px;
  }
}
.cocktail-add-dose {
}
.cocktail-back {
}
