.btn-navbar-search {
  background: $green;
  border: 1px solid $green;
  border-radius: 50%;
  color: $light-gray;
  font-weight: lighter;
  margin-left: 5px;
  &:hover {
    text-decoration: none;
    background: #06A77D;
    border: 1px solid #06A77D;
  }
}

.btn-navbar-new {
  color: $light-gray;
  background: $blue;
  border: 1px solid $blue;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 20px;
  margin-left: 5px;
  &:hover {
    text-decoration: none;
    color: $red;
    background: #07BEB8;
    border: 1px solid #07BEB8;
  }
}
